body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: linear-gradient(to top, #0000FF 0%, #00CED1 100%);
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
    padding-top: 160px;
}
.formulario{
    background: #fff;
    margin-top: 100px;
    padding: 3px;
    text-align: column;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: linear-gradient(to right, #0000FF 0%, #00CED1 100%);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}

#logo{
    width: 20px;
    height: 20px;
    align-items: center;
    padding-left: 160px;
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        height: 500px;
        margin-top: 100px;
        border-radius: 12%;
    }
}




























